[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Simple CLI tool for diagnostics and debugging of UAVCAN networks
[access "refs/*"]
	owner = group user/Cherish-Gww
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Cherish-Gww
	label-Verified = -1..+1 group user/Cherish-Gww
	push = group user/Cherish-Gww
	read = group user/Cherish-Gww
	rebase = group user/Cherish-Gww
	removeReviewer = group user/Cherish-Gww
	submit = group user/Cherish-Gww
[access "refs/heads/*"]
	create = group user/Cherish-Gww
	push = +force group user/Cherish-Gww
	pushMerge = group user/Cherish-Gww
	read = group user/Cherish-Gww
[access "refs/tags/*"]
	push = group user/Cherish-Gww
	push = +force group user/Cherish-Gww
